/* Settings */
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-areas:
    "header header"
    "nav main-content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 11fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  background-color: #c2f6f6;
  grid-area: main-content;
}
